
/*tablet n mobile*/
@media (max-width: 63.9375em){
    .btn {
        padding: 15px 16px;
    }

    #nav .subnav a{
        padding: 5px 12px;
    }

    .contact-info{
        line-height: 2;
    }

    .contact-form .form-control{
        padding: 15px;
        font-size: 16px;
    }

    .contact-submit-btn {
        font-size: 16px;
    }

    .socials-list{
        font-size: 48px;
    }

    #footer .socials-list a{
        margin: 0 8px;
    }

    #footer .copyright a{
        display: inline-block;
        padding: 12px 0;
    }
}

/*tablet*/
@media (min-width: 46.25em) and (max-width: 63.9375em){
    .contact-info{
        line-height: 2;
    }
}

/*mobile*/
@media (max-width: 46.1875em){

    #header{
        overflow: hidden;
    }

    .s-col-full,
    .s-full-width{
        width: 100%;    
    }
   

    #nav {
    display: block;
    }
    
    #nav > li {
        display: block;
    }

    #nav > li:first-child{
        display: inline-block;
    }

    #nav li a{
        padding: 1px 24px;
    }
    
    #header .mobile-menu-btn{
        display: block;
    }

    #header .search-btn{
        display: block;
        float: left;
    }

    #nav .subnav{
        position: initial;
        background: #333;
    }
    
    #nav .subnav a{
        color: #fff;
        padding: 5px 41px;
    }

    
    #content .member-img{
        width: 60%;
    }

   

    .contact-form{
        margin-top: 32px;
        
    }

    .s-mt-8{
        margin-top: 8px;
    }

}